<a href="https://colab.research.google.com/github/stormfireuttam/Python_Repo/blob/main/ClassConcepts_ExceptionHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def get_first_name(self):          
    return self.name.split()[0]
  def get_last_name(self):
    return self.name.split()[-1]
  def get_age_category(self):
    if self.age < 18:
      return "Child"
    elif self.age >=18 and self.age < 60:
      return "Adult"
    else:
      return "Senior Citizen"

In [8]:
person1 = Person("Tushar Khanna",16)  #creation of object
print(person1.get_first_name())
print(person1.get_last_name())
print("Age Category Person 1 : ", person1.get_age_category())
person2 = Person("Tushar Khanna",47) 
print("Age Category Person 2 : ", person2.get_age_category())
person3 = Person("Tushar Khanna",87) 
print("Age Category Person 3 : ", person3.get_age_category())

Tushar
Khanna
Age Category Person 1 :  Child
Age Category Person 2 :  Adult
Age Category Person 3 :  Senior Citizen

In [17]:
while  True:
  try:
    age = int(input("Enter age: "))
    if age < 0:
      raise Exception(age)
    break
  except ValueError as ve:
    print("Error: The number is not an integer.")
  except Exception as e:
    print("The value entered", e ,"is a negative number.\nError: Enter integer value greater than zero.")

Enter age: asjlds
Error: The number is not an integer.
Enter age: -23
The value entered -23 is a negative number.
Error: Enter integer value greater than zero.
Enter age: 31

In [20]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def get_first_name(self):          
    return self.name.split()[0]
  def get_last_name(self):
    return self.name.split()[-1]
  def get_age_category(self):
    if self.age < 18:
      return "Child"
    elif self.age >=18 and self.age < 60:
      return "Adult"
    else:
      return "Senior Citizen"

i = 1
while True:
  while  True:
    try:
      name_ip = input(f"Enter name of person {i}: ")
      age_ip = int(input(f"Enter age of person {i}: "))
      if age_ip < 0:
        raise Exception(age_ip)
      break
    except ValueError as ve:
      print("Error: The number is not an integer.")
    except Exception as e:
      print("The value entered", e ,"is a negative number.\nError: Enter integer value greater than zero.")
  print("\nDo you want to continue. \n1 for Yes. \n2 for No.")
  op_ip = int(input())
  if op_ip == 2:
    break
  i += 1

Enter name of person 1: Utkarsh
Enter age of person 1: -32
The value entered -32 is a negative number.
Error: Enter integer value greater than zero.
Enter name of person 1: Utkarsh
Enter age of person 1: -32
The value entered -32 is a negative number.
Error: Enter integer value greater than zero.
Enter name of person 1: Utakrsh
Enter age of person 1: 23

Do you want to continue.
1 for Yes.
2 for No.
2

In [25]:
def checkLeapYear(year):
  if ((year % 400 == 0) or (year % 100 != 0) and (year % 4 == 0)):
    return True

day,month,year = 0,0,0
while True:
  try:
    print("Enter age of user")
    day = int(input("Enter day: "))
    month = int(input("Enter month: "))
    year = int(input("Enter year: "))
    day_months = [31,28,31,30,31,30,31,31,30,31,30,31]
    if(checkLeapYear(year)):
      if(day > 28):
        raise Exception()
    if(year < 1900):
      raise Exception()
    break
  except:
    print("Invalid Input. Please try again...")  

print(year, "-", month, "-", day)

Enter age of user
Enter day: 29
Enter month: 2
Enter year: 2005
2005 - 2 - 29

In [26]:
try:
  print("Try block start")
  a = 1/0 #error statement
  print("Try block end")
except:
  print("Except block. Error has occured.")
else:
  print("Else Block.")
finally:
  print("Finally Block.")

Try block start
Except block. Error has occured.
Finally Block.

### Inheritance

In [35]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def get_first_name(self):          
    return self.name.split()[0]
  def get_last_name(self):
    return self.name.split()[-1]
  
class Patient(Person):
  def __init__(self,name,age,ssn):
    super().__init__(name,age)
    self.ssn = ssn
  def __str__(self):
    s = "Name of Patient : " + self.name
    s += "\nAge of Patient : " + str(self.age)
    s += "\nSSN of Patient : " + str(self.ssn)
    return s
  def __repr__(self):
    s = f"Patient({self.name}, {self.age}, {self.ssn})"
    return s

patient1 = Patient("Henry Davidson", 54, 129025)
print(patient1)
print(patient1.__repr__())

Name of Patient : Henry Davidson
Age of Patient : 54
SSN of Patient : 129025
Patient(Henry Davidson, 54, 129025)

In [72]:
class Person: 
  def __init__(self,fname,lname,age):
    self.fname = fname
    self.lname = lname
    self.age = age
  def get_full_name(self):          
    return self.fname + self.lname
  def __str__(self):
    s = f"Name of Person is {self.get_full_name()} and age is {self.age}."
    return s

class Student(Person):
  def __init__(self,fname,lname,age,reg_no,maths,science,english):
    super().__init__(fname,lname,age)
    self.reg_no = reg_no
    self.maths = maths
    self.science = science
    self.english = english
  def get_total_marks(self):
    return self.maths + self.science + self.english
  def __str__(self):
    s = super().__str__()
    s += f"\nRegistration Number of Student is {self.reg_no}"
    s += f"\nMarks in Maths: {self.maths} \nMarks in Science: {self.science} \nMarks in English: {self.english}"
    s += f"\nTotal Marks: {self.get_total_marks()}"
    return s

class Teacher(Person):
  def __init__(self,fname,lname,age,subjects):
    super().__init__(fname,lname,age)
    self.subjects = subjects
  def get_subjects(self):
    sub = ""
    for iter in self.subjects:
      sub += iter + "\n"
    return sub
  def __str__(self):
    s = super().__str__()
    s += "\nSubjects Taught are as follows : \n" + self.get_subjects()
    return s

class Hod(Teacher):
  def __init__(self,fname,lname,age,subjects,teachers):
    super().__init__(fname,lname,age,subjects)
    self.teachers = teachers
  def get_teachers_managed(self):
    tchrs = ""
    for iter in self.teachers:
      tchrs += str(iter) 
    return tchrs
  def __str__(self):
    s = super().__str__()
    s += "\nThe Teachers managed by HOD are : \n" + self.get_teachers_managed()
    return s

In [74]:
s1 = Student("Utkarsh","Singh",24,159305,86,79,92)
s2 = Student("Surya","Yadav",22,159308,80,79,83)
s3 = Student("Rohit","Singhal",34,159315,83,91,72)
t1 = Teacher("Tushar","Khanna", 45, ["Python","SQL","Cloud"])
t2 = Teacher("Tommy","Hilfiger", 40, ["SQL","Cloud"])
t3 = Teacher("Raju","Sharma", 38, ["EC Circuits","Logic Gates"])
hod1 = Hod("Ramesh", "Pillai", 51, ["Python","SQL","Cloud"], [t1, t2])

print("Student Details: \n")
print(s1)
print("\n", s2)
print("\n", s3)

# print("\nTeacher Details: \n")
# print(t1)
# print(t2)
# print(t3)

print("\nHOD Details: \n********************************\n")
print(hod1)

Student Details:

Name of Person is UtkarshSingh and age is 24.
Registration Number of Student is 159305
Marks in Maths: 86
Marks in Science: 79
Marks in English: 92
Total Marks: 257

 Name of Person is SuryaYadav and age is 22.
Registration Number of Student is 159308
Marks in Maths: 80
Marks in Science: 79
Marks in English: 83
Total Marks: 242

 Name of Person is RohitSinghal and age is 34.
Registration Number of Student is 159315
Marks in Maths: 83
Marks in Science: 91
Marks in English: 72
Total Marks: 246

HOD Details:
********************************

Name of Person is RameshPillai and age is 51.
Subjects Taught are as follows :
Python
SQL
Cloud

The Teachers managed by HOD are :
Name of Person is TusharKhanna and age is 45.
Subjects Taught are as follows :
Python
SQL
Cloud
Name of Person is TommyHilfiger and age is 40.
Subjects Taught are as follows :
SQL
Cloud

In [77]:
class Person:
  def __init__(self,name,age,address):
    self.name = name
    self.age = age
    self.address = address
  def __str__(self):
    s = f"Name of Person is {self.name}\nAge is {self.age}\nAddress is {self.address}"
    return s

class Employee(Person):
  def __init__(self,name,age,address,salary):
    super().__init__(self,name,age,address)
    self.salary = salary
  def __str__(self):
    s = super().__str__()
    s += f"\nSalary of Employee {self.salary}"

def SalesEmployee(Employee):
  def __init__(self,name,age,address,salary,bonus):
    super().__init__(self,name,age,address,salary)
    self.bonus = bonus
  def __str__(self):
    s = super().__str__()
    s += f"\nBonus  Amount: {self.bonus}"
    return s

def Manager(Person):
  def __init__()