<a href="https://colab.research.google.com/github/stormfireuttam/Python_Repo/blob/main/Intro_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a case sensitive langauge.
Procedural, Is Python Procedural Language

=>  Python is functional & Object Oriented Programming
=> literal - raw data

complex is mutable or immutable?
mutable : list, dict, set
immutable : int, string, boolean, tuple, float, frozenset

In [ ]:
print("hello")

hello

Data types are defined as classes in Python

In [ ]:
age=100
print(type(age))

<class 'int'>

Call by Refrence - we pass the address of memory location 

Call by Value - we pass on the copy of the value

In [ ]:
age=100
print(id(age))   # prints memory location of the variable

11534080

In [ ]:
age=70
print(id(age)) # memory location changed so proves int is not mutable and is thus immutable

11533120

Does not creates a new copy everytime refers to the same location for memory optimization in Python. Immutable datatypes refrence will be passed.

In [ ]:
nidhi = 70
id(nidhi)

11533120

In [ ]:
del age    # del keyword removes reference of the age

In [ ]:
print(age)

NameError: ignored

In [ ]:
# char, string  => In python only string data type is there
name="Tushar"
gender='M'
company='Futurense'

address=""" 
this is add
in multiple lines
"""

# for single line comment
'''
  is not a comment but will behave like one
'''

In [ ]:
# String interpolation or formatting
age=60
print("my age is",age)

print(f"my age is {age}")

year=2023
company="miles"
print(f"my company is {company} in {year}")

my age is 60
my age is 60
my company is miles in 2023

In [ ]:
username="surya"
message=f"hey user {surya}"
print(message)

NameError: ignored

In [ ]:
username="surya"
message=f"hey user {username}"
print(message)

hey user surya

In [ ]:
username="aman"
print(message)

hey user surya

In [ ]:
# dot format method of formatting
print("my age is {}".format(70))
print("my name is {} from {}".format("tushar","Rajasthan"))
print("my name is {0} from {1}".format("tushar","Rajasthan"))
print("my name is {1} from {0}".format("tushar","Rajasthan"))

my age is 70
my name is tushar from Rajasthan
my name is tushar from Rajasthan
my name is Rajasthan from tushar

In [ ]:
# operators
# arithmetic, relational, assignment, logical

print(10 / 5)   # float division
print(10 // 5)  # int division
print(10 % 4)   # int remainder
print(2**3**2)  # from right side
10*2+6-2%3

2.0
2
2
512

24

In [ ]:
''' Order of Priority
    **
    *  /  //  %        (same priority)  left to right association
    +  -
'''

In [ ]:
# bitwise

#and, or, xor, right, left shift
print(10&9)
print(10|9)
print(11 >> 1)      # right shift => number / 2 ** bit
print(11 << 1)      # left shift  => number * (2 ** bit)

8
11
5
22

In [ ]:
# Membership Operator (in)

print("s" in "Tushar")
print(10 in [10,20,30])
print(10 not in [10,20,30])

True
True
False

In [ ]:
# Identity => datatype or object belong to class

salary = 100
print(type(salary) is int)
print(type(salary) is str)
print(type(salary) is not str)

True
False
True

In [ ]:
# take two numbers from user check if numbers belong to integers, if int do arithemtic otherwise values are not integer and take input again
while True:
  a = input()
  b = input()
  if  type(a) is int and type(b) is int:
      print(a+b)
      print(a*b)
      break

1
2

KeyboardInterrupt: ignored

## Q1) If the values are integer them just do all the arithmetic operation if other then return a statement, "value don't belong to numerical data"

In [ ]:
while  True:
  a = input()
  b = input()
  if ():
    continue
  else:
      a = int(a)
      b = int(b)
      print(a+b)
      print(a*b)
      break

1
2
3
2

In [ ]:
while  True:
  try:
    a = int(input())
    b = int(input())
    print(a+b)
    print(a*b)
    break
  except ValueError as ve:
    print("Enter both values as integer")

as
Enter both values as integer
1
2s
Enter both values as integer
3
5
8
15

In [ ]:
# Slicing operator
'''
   -9-8-7-6-5-4-3-2-1
    B A N G A L O R E
    0 1 2 3 4 5 6 7 8

    variable[start:stop(-1):[stepsize]]
'''
city = "Banglore"
print(city[2])
print(city[-2])
print(city[0:3])
print(city[3:])
print(city[:5])
print(city[:])
print(city[0:3:1])
print(city[0:5:2])
print(city[2:7:3])
print(city[0:4:-1]) # empty string
print(city[-4:-2])
print(city[-1:-6])  # empty string
print(city[-3:-1:1])
city[-3::1]

n
r
Ban
glore
Bangl
Banglore
Ban
Bnl
no

lo

or

'ore'

In [ ]:
'''  
FOR:
number of iterations known then for loop
for var in datatype:
We have next function() for sequential data types
'''

for var in "goa":
  print(var)
for count in range(1,10):
  print(count, end= " ")

'''
WHILE:
number of iterations not known then while loop
'''
count = 0
print()
while(count < 10):
  print(count, end=" ")
  count+=1

print()
name = "goa"
index = 0
print(len(name))
while(index < len(name)):
  print(name[index], end=" ")
  index+=1

g
o
a
1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
3
g o a

## Q2) Learn about different life scope of variable in Python

In Python, the scope of a variable is determined by the block of code in which it is defined. There are two types of scopes in Python: global and local.

A global variable is defined outside of any function or block of code and is accessible from anywhere in the program.

A local variable, on the other hand, is defined inside a function or block of code and is only accessible within that function or block of code.

When a variable is defined inside a function, it is only accessible within that function and any nested functions or blocks of code. Once the function or block of code completes execution, the variable is no longer accessible. This is called the variable's lifetime, which is only within that function or block of code.

## Q3) take a input as a password from user and validate following: 
* atleast one capital letter
* atleast one small letter
* number from 0 to 6
* should contain a special character @,#,$
* if any condition not fulfilled ask for the input from the user upto 3 times
* after 3rd try print message "Try limit exceed"

In [ ]:
flag = 0
for i in range(0,3):
  pwd = input()
  count_cap = 0
  count_small = 0
  count_digit = 0
  count_spec = 0
  for ch in pwd:
    if ch in ['@','#','$']:
      count_spec += 1
    elif ord(ch) >= 65 and ord(ch) <= 90:
      count_cap += 1
    elif ord(ch) >= 97 and ord(ch) <= 122:
      count_small += 1
    elif ord(ch) >= 48 and ord(ch) <= 54:
      count_digit += 1
  if count_spec >= 1 and count_cap >= 1 and count_small >= 1 and count_spec >= 1:
    print("Password accepted")
    flag = 1
    break
if(flag == 0):
  print("Try limit exceeded")

AS
SD
SD
Try limit exceeded

## Q4) Difference between ASCII and UTF-8

ASCII and UTF-8 are character encoding standards. ASCII uses 7 bits to represent a character, while UTF-8 uses a variable number of bits (from 1 to 4 bytes) to represent a character. This means that UTF-8 can represent a much larger set of characters, including non-English characters, while ASCII is limited to 128 characters. Additionally, ASCII is a single-byte encoding, while UTF-8 is a multi-byte encoding, which means that it can represent a larger set of characters in a more space-efficient way.