<a href="https://colab.research.google.com/github/stormfireuttam/Python_Repo/blob/main/List_Tuple_Dictionary_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q) FrozenSet VS Set
A set and a frozen set are both types of collections in Python that are used to store unique elements, but there are some key differences between the two:

Mutability: A set is mutable, which means that its elements can be added, removed, or modified after it is created. A frozen set, on the other hand, is immutable, which means that its elements cannot be modified after it is created.

Hashability: Because a set is mutable, it is not hashable, which means that it cannot be used as a key in a dictionary or as an element in another set. A frozen set, because it is immutable, is hashable and can be used in these ways.

Syntax: The syntax for creating a set is {} or set(), while the syntax for creating a frozen set is frozenset().

Performance: Frozen sets are generally slower than sets for performing operations like adding and removing elements.

In general, you should use a set when you need a collection of unique elements that you need to modify, and use a frozen set when you need a collection of unique elements that will not be modified, but will be used as a key or an element in another collection.


## Q) Variable Storage Location. Along with difference in Heap And Stack.
In Python, variables are stored in memory, which is divided into two sections: the stack and the heap. The stack is used for storing function call frames and other program data, while the heap is used for allocating memory to objects.

When a variable is created, Python assigns it a memory location in one of these sections, depending on the scope and lifetime of the variable.

Local Variables: Local variables are those defined inside a function or a block of code. They are stored in the stack, and their memory is automatically freed when the function or block of code exits.

Global Variables: Global variables are defined outside of any function or block of code. They are stored in the heap, and their memory is not automatically freed until the program exits.

Built-in Variables: Built-in variables are predefined variables that are available in Python by default. They are stored in a special memory area that is separate from the stack and the heap.

In addition to the above storage locations, Python also uses name binding to associate a variable name with its corresponding memory location. **The variable names are stored in the stack, while the values of the variables are stored in the heap.** When a variable is accessed, Python looks up its name in the stack to find the corresponding memory location in the heap, where the value of the variable is stored.


## Q) Diff b/w List and Tuple
A tuple is an immutable (cannot be modified) ordered collection of items, while a list is a mutable (can be modified) ordered collection of items. Tuple uses () and list uses [].

List
- Iteration is time consuming
- Consume more memory
- List is better for performing operations such as insertion & deletion.  
 
Tuple  
- Iteration is Faster
- Consume less memory
- Tuple data type is appropriate for accessing the elements.

## Q) Find out usecase of zip and enumerate function

### Zip
In Python, the zip() function is used to combine two or more iterable objects (such as lists, tuples, or strings) into a single iterable object in the form of a tuple. Each tuple contains the elements from the corresponding position in the input iterables. The zip() function stops when the shortest input iterable is exhausted.

For example:

```
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = zip(list1, list2)

for i, j in zipped:
    print(i, j)

```
This will output:
```
1 a
2 b
3 c
```
It's also possible to unzip the zipped object using zip(*zipped_obj)

### Enumerate

In Python, the enumerate() function is used to add a counter to an iterable object (such as a list, tuple, or string) and return it as an enumerate object. The index value starts from 0 by default, but it can be set to start from any number using the optional start parameter.

Example 1:
```
fruits = ['apple', 'banana', 'mango']
for index, value in enumerate(fruits):
    print(index, value)
```
Output:
```
0 apple
1 banana
2 mango

```

Example 2:

You can also use enumerate with start parameter like this:
```
for index, value in enumerate(fruits, start=1):
    print(index, value)
```
Output:
```
1 apple
2 banana
3 mango
```

## Q) Diff BW  args and kwargs

In Python, args and kwargs are used to pass a variable number of arguments to a function.

args is used to pass a non-keyworded, variable-length argument list. For example, if a function is defined with ** *args ** as the parameter, it can be called with any number of arguments:
```
def my_function(*args):
    for arg in args:
        print(arg)

my_function(1, 2, 3)
```

**kwargs is used to pass a keyworded, variable-length argument list. For example, if a function is defined with **kwargs as the parameter, it can be called with any number of keyword arguments:

```
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} = {value}")

my_function(name="John", age=25)
```

## LIST

In [ ]:
myList = ['a','b',1001,30,'hey']
myList.append('hi')
myList

['a', 'b', 1001, 30, 'hey', 'hi']

In [ ]:
myList.append([90,8888])
myList

['a', 'b', 1001, 30, 'hey', 'hi', [90, 8888]]

['a', 'b', 1001, 30, 'hey', 'hi', [90, 8888], [90, 8888]]

In [ ]:
# extend list by appending elements from the iterable
# datatype which can be loopable is iterable, it has next() method 
myList.extend("goa")
myList

['a',
 'b',
 1001,
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a']

In [ ]:
myList.extend([10,20,30])
myList

['a',
 'b',
 1001,
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30,
 10,
 20,
 30]

In [ ]:
del myList[-1]
myList

['a',
 'b',
 1001,
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30,
 10]

In [ ]:
myList.pop()

10

In [ ]:
myList

['a',
 'b',
 1001,
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30]

In [ ]:
myList.remove(1001)
myList

['a',
 'b',
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30]

In [ ]:
myList * 2

['a',
 'b',
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30,
 'a',
 'b',
 30,
 'hey',
 'hi',
 [90, 8888],
 [90, 8888],
 'g',
 'o',
 'a',
 'g',
 'o',
 'a',
 10,
 20,
 30]

## Tuple

In [ ]:
myTuple=10,20,"1"
print(type(myTuple))

<class 'tuple'>

In [ ]:
myTuple*2

(10, 20, '1', 10, 20, '1')

In [ ]:
tup1 = (30)
tup1 + myTuple

TypeError: ignored

## Dictionary

Data type where a particular value is associated with a particular key

**key : value**

* dictionary are unordered collection of elements in form of key:value pair
* Mutable
* key will be unique
* value/data associated can be duplicate/unique
* data can be of any data type mutable/immutable
* keys will be immutable only

In [ ]:
myDict = {"name":"Tushar", "age":16}
myDict

{'name': 'Tushar', 'age': 16}

In [ ]:
myDict1 = {"name":"Tushar", ["age"]:16}         # Error as key is mutable which should not be the case

TypeError: ignored

In [ ]:
myDict[0]       # cant access based on index as the data inserted is unordered

KeyError: ignored

In [ ]:
myDict["name"]

'Tushar'

In [ ]:
myDict["Salary"] = 1000000
myDict

{'name': 'Tushar', 'age': 16, 'Salary': 1000000}

In [ ]:
'''
Using list of tuple values create a dictionary
'''
myTuple = ('Name', 'Sd')
myTuple2 = ('Age', 20)
dict1 = dict([myTuple, myTuple2])
dict1

{'Name': 'Sd', 'Age': 20}

In [ ]:
dict1 = {'Name':'Ad', 'Marks': [50,75,80]}
dict2 = {'Name':'Kp', 'Marks': [32,77,88]}
dict3 = {'Name':'Nk', 'Marks': [90,75,70]}
mylist = [dict1, dict2, dict3]
mylist

print('Dictionary Values')
for x in mylist:
  print(x['Marks'])
print('\nDictionary Keys')
for x in mylist:
  print(x)

Dictionary Values
[50, 75, 80]
[32, 77, 88]
[90, 75, 70]

Dictionary Keys
{'Name': 'Ad', 'Marks': [50, 75, 80]}
{'Name': 'Kp', 'Marks': [32, 77, 88]}
{'Name': 'Nk', 'Marks': [90, 75, 70]}

## Q) Conversion from one number system to another

## Set

In [ ]:
mySet={}
print(type(mySet))

<class 'dict'>

In [ ]:
mySet=set({})
print(type(mySet))

<class 'set'>

In [ ]:
mySet= set({10,20,30,40})
mySet

{10, 20, 30, 40}

In [ ]:
mySet.add("Hey")
mySet

{10, 20, 30, 40, 'Hey'}

Remove will give you an error

Discard will not give you an error

In [ ]:
# we perform union in case of update
mySet.update((10,20,1092101))
mySet

{10, 1092101, 20, 30, 40, 'Hey'}

### Q) Create a set containing multiple elements. Check if set element is integer or float. Square of element and append to a new list. If String data we need to append "@gmail.com" after the string and append it in list again.

### Q) Create two sets. Use difference, isdisjoint, issubset, symmetric_difference and is_superset methods.

### Q) Create a prog to take input from user as string. And return all the unique words as string datatype.

In [ ]:
mySet1 = set({'Tushar', 25, 54.25, 'Ajay', 'Uttam', 98.2, 750, 25})
newList = []
for iter in mySet1:
  if isinstance(iter, int) or isinstance(iter, float):
    newList.append(iter ** 2)
  else:
    newList.append(str(iter) + "@gmail.com")
print(newList)

['Ajay@gmail.com', 9643.24, 2943.0625, 625, 'Tushar@gmail.com', 562500, 'Uttam@gmail.com']

In [ ]:
setA = set({20, 40, 30, 60, 80})
setB = set({10, 30, 40, 60, 90})
# Return a set that contains the items that only exist in set x, and not in set y
print(setA.difference(setB))
print(setA.isdisjoint(setB))
# Return False if not all items in set x are present in set y:
print(setA.issubset(setB))
# The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.
print(setA.symmetric_difference(setB))  
# Return True if all items set y are present in set x   
print(setA.issuperset(setB))

{80, 20}
False
False
{80, 20, 90, 10}
False

In [ ]:
inputStr = "My user, we we welcome you, hey"
setWords = set(inputStr.split(" "))
print(setWords)

# Remove the delimiters without using regexp or replace function

{'welcome', 'hey', 'we', 'user,', 'you,', 'My'}

## FUNCTION

* Block of Code that we write down once and can use it multiple times
* Named Block
* Code Reusability
* Modularity -> helps to divide code into smaller sections
* Helpful for Debugging



```
  # function declaration
  def function(parameter):
    statement

  # call the function
  function(argument)
```

In [ ]:
def greeting():
  print("Hello")

greeting()

Hello

In [ ]:
def greeting(username):
  print("Hello " + username)

greeting("Tushar")

Hello Tushar

In [ ]:
# In python we work on call by refrence
def swapNumber(n1, n2):
  n1,n2 = n2,n1
x = 10
y = 20
print(x, " ",y)
swapNumber(x,y)
print(x, " ", y)

10   20
10   20

In [ ]:
myList=[20,30,40]

def updateList(listdata):
  listdata[0] = 1000
  print(listdata)

myList = [10,20,30]
print(myList)
print("My list id is", id(myList)) 
updateList(myList)

[10, 20, 30]
My list id is 139642211847104
[1000, 20, 30]

In [ ]:
# take every element of list and multiply every element by 2
def updateList(listData):
  for i in range(len(listData)):
      listData[i] = listData[i] * 2
  
myList = [10,20,30,40]
print(myList)
updateList(myList)
print(myList)

[10, 20, 30, 40]
[20, 40, 60, 80]

## Type Of Argument Passing

In [ ]:
# Required

def studentDetails(sid, nam, email):
  print(f"Student id is {sid}, name {nam} & email : {email}")

print(studentDetails(10))

TypeError: ignored

In [ ]:
studentDetails(10, "Tushar", "Tushar@gmail.com")

Student id is 10, name Tushar & email : Tushar@gmail.com

In [ ]:
# Positional Arguments
studentDetails("Tushar",10,"tushar@gmail.com")

Student id is Tushar, name 10 & email : tushar@gmail.com

In [ ]:
#Keyword Arguments
studentDetails(nam="Tushar",sid=10,email="tushar@gmail.com")

Student id is 10, name Tushar & email : tushar@gmail.com

In [ ]:
# Combination of Keyword & Positional Arguments
studentDetails(10,email="tushar@gmail.com",nam="Tushar")

Student id is 10, name Tushar & email : tushar@gmail.com

In [ ]:
# Keyword Argument will be on the right side
studentDetails(email="tushar@gmail.com",10,nam="Tushar")

SyntaxError: ignored

In [ ]:
# Function with default Value
def studentDetails2(sid, name, email="gmail.com"):
  print(f"Student id is {sid}, name {name} & email : {email}")

studentDetails2(10,name="Tushar")

Student id is 10, name Tushar & email : gmail.com

In [ ]:
studentDetails2(10,email="Tushar@gmail.con",name="Tushar")

Student id is 10, name Tushar & email : Tushar@gmail.con

In [ ]:
def studentDetail(*detail):
  print(detail,type(detail))

In [ ]:
studentDetail(10)

(10,) <class 'tuple'>

In [ ]:
def studentDetail_key(**detail):
  print(detail, type(detail))

In [ ]:
studentDetail_key(name="Tushar",age=10)

{'name': 'Tushar', 'age': 10} <class 'dict'>

In [ ]:
# function which takes two input from user and find lcm

def lcm():
  num1 = int(input())
  num2 = int(input())
  res = 1
  if num1 >= num2:
    res = num1
  else:
    res = num2
  while(res % num1 != 0 or res % num2 != 0):
    res += 1
  print(res)

lcm()

10
15
30